<h3>Interpolation: {{ headerName }}</h3>
<h3 [style.color]="colorName">Pipe: {{ headerName | lowercase }}</h3>
<!-- <h3>Pipe: {{ headerName | uppercase }}</h3> -->
<!-- 
<h4>Salary: {{salary}}</h4>
<h4>Salary: {{salary | currency}}</h4>
<h4>Salary: {{salary | currency:'INR'}}</h4>

<h4>Salary: {{salary | currency:'EUR'}}</h4>
<h4>Salary: {{salary | currency:'USD'}}</h4>
<h4>Salary: {{salary | percent}}</h4>  -->

<h5>Angular JS</h5>

<button (click)="Functionclick('click here')">Click Me</button>
<br />
<br />
<p [style.font-size]="size">Style Binding</p>

<input
  type="text"
  [value]="isDisabled"
  [disabled]="isDisabled"
  #txt
  (change)="Functionclick(txt.value)"
/>
<br />
<br />
<input type="text" [(ngModel)]="headerName" />

<br />
<br />

<p>Directives</p>

<!-- <h3 [ngClass]="className">My Salary is {{salary | percent}}</h3> -->

<h3 [ngStyle]="styleVal">My Salary is {{ salary | percent }}</h3>

<!-- <input  (change)="Functionclick('text value')" /> <br> <br>
<input #txt (change)="Functionclick(txt.value)" /> -->
