<div class="toolbar" role="banner">
  <h2>Hello World To Angular JS</h2>
  <p>Writing First program in Angular JS</p>
  <p>App Name: {{ title }}</p>
  <p>User Data: {{ data.name }}, {{ data.age }}</p>
  <h3>{{ data.work }}</h3>
  <h4>{{ data.locality }}</h4>


  <!-- <p>What we can not do with interpolation</p>

  <p>{{title='Change Title'}}</p>
  <p>{{typeof title}}</p>
  <p>{{data}}</p>
  <p>{{x++}}</p>
  <p>{{x--}}</p>
  <p>{{y++}} {{y--}}</p>

  <p>{{new title}}</p> -->


  <p class="{{title}}">{{title}}</p>

</div>
