<!-- <div class="toolbar" role="banner"> -->
<!-- <h2>Hello World To Angular JS</h2> -->
<!-- <p>Writing First program in Angular JS</p> -->
<!-- <p>App Name: {{ title }}</p>
  <p>User Data: {{ data.name }}, {{ data.age }}</p>
  <h3>{{ data.work }}</h3>
  <h4>{{ data.locality }}</h4> -->

<!-- <p>What we can not do with interpolation</p>

  <p>{{title='Change Title'}}</p>
  <p>{{typeof title}}</p>
  <p>{{data}}</p>
  <p>{{x++}}</p>
  <p>{{x--}}</p>
  <p>{{y++}} {{y--}}</p>

  <p>{{new title}}</p> -->

<!-- <p class="{{ title }}">{{ title }}</p> -->

<!-- <app-home></app-home> -->

<!-- <app-login></app-login>
  <app-signup></app-signup>
  <app-about></app-about> -->
<!-- <section>
    <form>
      <input type="text" placeholder="Filter by city" />
      <button type="button">Search</button>
    </form>
  </section> -->
<!-- <app-services></app-services> -->
<!-- <app-housing-location></app-housing-location> -->

<!-- </div> -->

<main>
  <a [routerLink]="['/']">
    <header class="brand-name">
      <img
        class="image"
        src="https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="brand-logo" aria-hidden="true"
      />
    </header>
  <!-- </a> -->
  <section class="content">
    <!-- <app-home></app-home> -->
    <router-outlet></router-outlet>
  </section>
</main>
