<div class="products">
  <div class="card" *ngFor="let item of products">
    <img src="{{ item.image }}" alt="Denim Jeans" />
    <h1>{{ item.title }}</h1>
    <p class="price">{{ item.price }}</p>
    <p>
    {{item.description}}
    </p>
    <h3 class="category">Category: {{item.category}}<button>Add to Cart</button></h3>
  </div>
</div>
<!-- <div class="card">
    <img src="https://www.w3schools.com/w3images/jeans3.jpg" alt="Denim Jeans" >
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
    <p><button>Add to Cart</button></p>
  
</div> -->
